body {
	font-family: arial, sans-serif;
	font-size: 12px;

}

a:link, a:visited {
	text-decoration:none;
	color: gray;
}

a:hover {
	color: blue;
}


img.centered-image {
	padding-top:200px;
	display: block;
	margin: auto;
	vertical-align: auto;

}

form {
	display: block;
	text-align: center;
	margin: auto;
	vertical-align: auto;
}

#search-box {
	height: 30px;
}

input {
	height: 36px;
	line-height: 27px;
}

input[type="submit"]:hover {
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0,1);
	color: #222;
}

.button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	color: #757575;
	border-radius: 2px;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	padding: 0 16px;
}

footer {
	background-color: #dddddd;
	position:fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
}
footer ul {
	padding-left:0px;
}

footer li {
	display: inline;
	padding: 5px;
}


#footer-left {
	float: left;
	margin-left: 30px;
}

#footer-right {
	float: right;
	margin-right: 30px;
}

#search-bar {
	width: 100%;
}

#navbar-top {
	display: inline;
	float: right;
}
